apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: "{{ hostvars[node].name }}-{{ cluster_name }}"
  namespace: "{{ namespace }}"
  labels:
    infraenvs.agent-install.openshift.io: "infraenv-{{ cluster_name }}"
  annotations:
    bmac.agent-install.openshift.io/role: "{{ hostvars[node].role | default('worker') }}"
    bmac.agent-install.openshift.io/hostname: "{{ cluster_name }}"
    inspect.metal3.io: disabled
spec:
  online: true
  bootMACAddress: "{{ hostvars[node].int1_mac }}"
  automatedCleaningMode: disabled
  hardwareProfile: libvirt
  bmc:
    address: redfish-virtualmedia+{{ hostvars[node].bmc_address }}
    credentialsName: bmc-{{ hostvars[node].name }}-{{ cluster_name }}
    disableCertificateVerification: True
